@use 'partial';

/*Nesting*/
main {
    section{
        div a{
            color: partial.$primary;
        }
    }
}


/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    background-color: #E9E6DD;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    position: relative;
}

header {
    background-color: #F6F4EF;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .logo {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }

    nav {
        ul.desktop-menu {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            li {
                margin-left: 20px;

                &:first-child {
                    margin-left: 0;
                }

                button {
                    background-color: #F6F4EF; /* baggrundsfarve */
                    border: none; /* Fjern kantlinjer */
                    color: black; /* tekstfarve */
                    padding: 10px 20px; /* Lidt padding for at gøre knappen mere synlig og klikbar */
                    text-align: center; /* Centrer teksten i knappen */
                    text-decoration: none; /* Fjern understregning, hvis knappen er i et anker */
                    display: inline-block; /* Gør knappen til et inline-block element, så den tilpasser sig teksten */
                    font-size: 16px; /* Skriftstørrelse */
                    cursor: pointer; /* Gør markøren til en hånd, når der holdes over knappen */
                    border-radius: 5px; /* Afrundede kanter */
                    transition: background-color 0.3s; /* Glat overgang til baggrundsfarveændring */

                    &:hover {
                        background-color: #E9E6DD; /* Mørkere baggrundsfarve ved hover */
                    }
                }
            }
        }
    }
}


main {
    padding: 20px;
    flex: 1;
}

footer {
    background-color: #F6F4EF;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}


@media only screen and (max-width: 768px) {
        header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo img {
            width: 120px;
        }

    }

    .desktop-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .desktop-menu li {
        margin-left: 20px;
    }

    .desktop-menu li:first-child {
        margin-left: 0;
    }

    .desktop-menu li a {
        text-decoration: none;
        color: black;
        font-size: 12px;
    }



@media only screen and (min-width: 769px) {
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        width: 300px;
    }
    

    .desktop-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .desktop-menu li {
        margin-left: 20px;
    }

    .desktop-menu li:first-child {
        margin-left: 0;
    }

    .desktop-menu li a {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }
}


/* Tilføjelse: Stil for hero-billede */
.hero-image {
    width: 100%; // Fyld vandret
    height: auto; // Skaleres automatisk for at bevare proportioner
    display: block; // Sørger for at billedet ikke skubber indholdet ned
    margin-bottom: 10px; // Lidt afstand nedenunder billedet

    @media only screen and (min-width: 769px) {
        max-width: 100%; // Begrænser billedets bredde til skærmens bredde i desktop-versionen
    }
}


/* Tilføjelse: Stil for hero-container */
.hero-container {
    position: relative;
}

/* Tilføjelse: Stil for overlay */
.overlay {
    position: absolute;
    top: 50%; // Placer overlay-containeren 50% fra toppen af hero-containeren
    left: 50%; // Placer overlay-containeren 50% fra venstre side af hero-containeren
    transform: translate(-50%, -50%); // Centrer overlay-containeren
    background-color: rgba(0, 0, 0, 0); // Baggrundsfarve med gennemsigtighed
    color: white;
    padding: 20px;
    text-align: center;
    width: 80%; // Juster bredden af overlay-containeren
    margin-top: -55%;
}

.overlay h1 {
    font-size: 32px;
    margin-bottom: 10px;
}



/* Tilpasninger til mobilskærme */
@media only screen and (max-width: 768px) {
    .overlay {
        position: relative; // Skift til relativ positionering på mobilskærme
        top: auto; // Fjern den vertikale positionering
        left: auto; // Fjern den horisontale positionering
        transform: none; // Fjern transformeringen
        width: 100%; // Bredde på 100% for at fylde billedets bredde
        margin-top: -30%; // Centrer vertikalt ved at anvende en negativ margen
    }
}

@media only screen and (min-width: 768px) {
    .overlay {
    margin-top: -900px;

    }
}


.welcome-text  {
    margin-bottom: 20px; // Centrer vertikalt ved at anvende en negativ margen
    margin-top: 0px;
}

@media only screen and (max-width: 768px) {
    .welcome-text {
    margin-top: 0px;

    }
}

@media only screen and (min-width: 768px) {
    .welcome-text {
    margin-top: 0px;

    }
}




/* Tilføjelse: Stil for hunderacer-sektion */
section {
    display: flex;
    flex-wrap: wrap; // Sørger for, at elementerne bryder til næste linje, hvis de ikke kan være på samme linje
    justify-content: space-between; // Placerer elementer med lige afstand imellem dem

    .breed-card {
        width: calc(50% - 10px); // Sørger for, at kortene tager halvdelen af bredden med lidt margen
        margin-bottom: 20px; // Lidt afstand mellem kortene
        text-align: center;


        @media only screen and (max-width: 768px) {
            width: 100%; // Kortene fylder hele bredden i mobilversionen
            margin-bottom: 10px; // Lidt mindre afstand mellem kortene i mobilversionen
        }

        h2 {
            margin-bottom: 5px; // Lidt afstand mellem overskriften og billedet
        }

        img {
            width: 100%; // Billedet fylder kortets bredde
            height: auto; // Skaleres automatisk for at bevare proportioner
            display: block; // Sørger for, at billedet ikke påvirker layoutet
            margin-top: 0;


            @media only screen and (min-width: 769px) {
                margin-left: 102%; // Placer billedet til højre på desktop-visning
                margin-right: 0; // Fjern eventuel højremargin på desktop-visning
                margin-top: 75px;

        }
    }
}

.breed-card2 {
    width: calc(50% - 10px); // Sørger for, at kortene tager halvdelen af bredden med lidt margen
    margin-bottom: 0px; // Lidt afstand mellem kortene
    text-align: center;

    @media only screen and (max-width: 768px) {
        width: 100%; // Kortene fylder hele bredden i mobilversionen
        margin-bottom: 10px; // Lidt mindre afstand mellem kortene i mobilversionen
    }

    h2 {
        margin-bottom: 5px; // Lidt afstand mellem overskriften og billedet
    }

    img {
        width: 100%; // Billedet fylder kortets bredde
        height: auto; // Skaleres automatisk for at bevare proportioner
        display: block; // Sørger for, at billedet ikke påvirker layoutet

        @media only screen and (min-width: 769px) {
            margin-top: 0; // Fjern margin-top på desktop-visning
        }
    }
}
}


.breed-card3 {
    width: calc(50% - 10px); // Sørger for, at kortene tager halvdelen af bredden med lidt margen
    margin-bottom: 20px; // Lidt afstand mellem kortene
    text-align: center;


    @media only screen and (max-width: 768px) {
        width: 100%; // Kortene fylder hele bredden i mobilversionen
        margin-bottom: 10px; // Lidt mindre afstand mellem kortene i mobilversionen
    }

    h2 {
        margin-bottom: 5px; // Lidt afstand mellem overskriften og billedet
    }

    img {
        width: 100%; // Billedet fylder kortets bredde
        height: auto; // Skaleres automatisk for at bevare proportioner
        display: block; // Sørger for, at billedet ikke påvirker layoutet
        margin-top: 0px;


        @media only screen and (min-width: 769px) {
            margin-left: 102%; // Placer billedet til højre på desktop-visning
            margin-right: 0; // Fjern eventuel højremargin på desktop-visning
            margin-top: 20px;

    }
}
}


.text-field1-1 {
    background-color: #E9E6DD;
    padding: 10px;
    margin-top: 0; /* Juster denne værdi efter behov */
    text-align: center;
  

    @media only screen and (min-width: 769px) {
        display: inline-block;
        width: auto; /* Juster denne værdi efter behov */
        margin-left: 10px; /* Juster denne værdi efter behov */
        vertical-align: top;
        margin-top: -460px; 
    }

    @media only screen and (max-width: 768px) {
        width: 100%;
        margin-top: 10px; /* Juster denne værdi efter behov */
    }
}

.text-field1-2 {
    background-color: #E9E6DD;
    padding: 10px;
    margin-top: 0; /* Juster denne værdi efter behov */
    text-align: center;

    @media only screen and (min-width: 769px) {
        display: inline-block;
        width: 100%; /* Juster denne værdi efter behov */
        margin-left: 105%; /* Juster denne værdi efter behov */
        vertical-align: top;
        margin-top: -450px; 
    }

    @media only screen and (max-width: 768px) {
        width: 100%;
        margin-top: 10px; /* Juster denne værdi efter behov */
    }
}

.text-field1-3 {
    background-color: #E9E6DD;
    padding: 10px;
    margin-top: 0; /* Juster denne værdi efter behov */
    text-align: center;
  

    @media only screen and (min-width: 769px) {
        display: inline-block;
        width: auto; /* Juster denne værdi efter behov */
        margin-left: 10px; /* Juster denne værdi efter behov */
        vertical-align: top;
        margin-top: -420px; 
        margin-bottom: 100px;
    }

    @media only screen and (max-width: 768px) {
        width: 100%;
        margin-top: 10px; /* Juster denne værdi efter behov */
        margin-bottom: 100px;
    }
}